:root{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    --col-blue: #203088;
    --col-darkblue: #202648;
    --col-gold: #D4C676;
    --col-white: #ffffff;
    --col-bluetransparent: #19245f93;
    --borderRadius: 10px;
}
body{
    color: var(--col-white);
    background-color:var(--col-blue);
}
.p{
    display: block;
}
a {
    color: var(--col-gold);
}
a:hover{
    color: var(--col-bluetransparent);
}
h1{
    text-align: left;
    font-size: 100%;
    margin: 0.5rem;
}
.fullSize{
    margin: auto;
    width: 95%;
    height: 95%;
    /* background-color: var(--col-bluetransparent); */
}
.horizontalContainer{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin: auto ;

}
.mainContainer{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin: auto ;

}
.myImage{
    background-image: url(images/crnja.PNG);
    width: 100%;
    object-fit: fill;
    height: 100%;
}
.verticalContainer{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}
.halfWidth{
    width: 49%;
    height: 100%;
}
.quarterHeight{
    width: 100%;
    height: 15%;
}
.halfHeight{
    width: 100%;
    height: 49%;
}
.q3Height{
    width: 100%;
    height: 85%;
}
.rounded{
    border-radius: var(--borderRadius);
}
.innerShadow{
    box-shadow: inset 0 0 40px #0000005b;
}
.blueTransparent{
    background-color: var(--col-bluetransparent);
}
.redCol{
    background-color: red;
}

/* background */
.bg {
    top:0;
    bottom:0;
    left:-50%;
    right:-50%;
    opacity:.1;
    position:fixed;
    z-index:-1;
}
.bg1{
    animation:slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #0026ff6e 50%, #161c3da6 50%);
}

.bg2 {
    animation:slide 7s ease-in-out infinite alternate-reverse;
    background-image: linear-gradient(-60deg, #8295ffa2 50%, #0026ff81 50%);
}

.bg3 {
    animation:slide 7s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #03092bb6 50%rgba(80, 106, 255, 0.541)ff 50%);
    
}
@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

/* scrollbar */
body::-webkit-scrollbar{
    width: 0.1rem;
}
body::-webkit-scrollbar-thumb{
    background: var(--col-darkblue);
}
body::-webkit-scrollbar-track{
    background: var(--col-blue);
}

/* small screens */

@media only screen and (max-width: 600px){
    .fullSize{
        padding: 0.5%;
        width: 98%;
    }
    
    .mainContainer{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        margin: auto ;

    }
    .halfWidth{
        width: 100%;
        height: 100%;
    }





}